<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "dgfsalud - Daniel García Fuentes - Fisioterapia en Huelva" %></title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %>">
    <nav class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="name"> <a href="#">dgfsalud</a></li>
          </ul>
        </div>
        <section class="top-bar-right">
          <ul class="right menu">
            <li><a href="#welcome">Inicio</a></li>
            <li><a href="#therapies">Terapias</a></li>
            <li><a href="#pricing">Tarifas</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </section>
      </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
