<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "dgfsalud - Fisioterapia en Huelva" %></title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="sticky contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">dgfsalud</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Terapias</a></li>
            <li><a href="#">¿Qué tratamos?</a></li>
            <li><a href="#">Tarifas y promociones</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </section>
      </nav>
    </div>
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
