<h1>Hello world</h1>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
